/* stylelint-disable shorthand-property-no-redundant-values */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable-next-line rule-empty-line-before */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  color: #000;
  font-family: NunitoSans-Regular, sans-serif;
  font-size: 16px;
  background-color: #333;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 1024px;
  padding: 4px 0;
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__list {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: start;
  gap: 40px;
  margin-bottom: 242px;
  padding: 4px 0;
}

.header__logo {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: start;
  align-items: left;
  width: 70px;
  min-width: 120px;
  height: 68px;
  margin-top: 8px;
  text-decoration: none;
}

.veji {
  position: absolute;
  bottom: 22px;
  left: 50px;
  display: flex;
  width: 69px;
  height: 50px;
  color: #C6FD50;
  font-family: NotoSerif;
  font-weight: 400;
  font-size: 36px;
  cursor: default;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-decoration: none;
}

.header__link {
  color: #FBFBFB;
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  font-feature-settings: 'clig' off, 'liga' off;
}

.header__links-list-item {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 108px;
  height: 42px;
  padding: 12px 18px;
}

.header_h1 {
  margin-bottom: 16px;
  color: #FBFBFB;
  font-family: Mulish;
  font-weight: 400;
  font-size: 60px;
}

.header_decription {
  margin-bottom: 60px;
  color: #FBFBFB;
  font-family: Mulish;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
}

.header__button {
  position: relative;
  display: inline-block;
  width: 440px;
  height: 56px;
  margin-bottom: 460px;
  border: 1px solid black;
  color: #333;
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  background-color: #C6FD50;
  cursor: pointer;
}

.header__button:focus {
  outline: none;
}

.header__button:focus-visible {
  outline: 1px solid black;
}

.header__button:active {
  box-shadow: none;
  background-color: #fde350;
}

.header__button:hover {
  box-shadow: 0 4px 16px 0 black;
  background-color: #fde350;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 1024px;
  padding: 4px 0;
  background-color: #fff;
}

.about__list {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: start;
  gap: 40px;
  margin: 4px 0;
}

.about__logo {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: start;
  align-items: left;
  width: 70px;
  min-width: 120px;
  height: 68px;
  margin-top: 8px;
  text-decoration: none;
  cursor: default;
}

.about-veji {
  position: absolute;
  bottom: 22px;
  left: 50px;
  display: flex;
  width: 69px;
  height: 50px;
  color: #333;
  font-family: NotoSerif;
  font-weight: 400;
  font-size: 36px;
  text-decoration: none;
  cursor: default;
}

.about__links-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-decoration: none;
}

.about__link {
  color: #333;
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  font-feature-settings: 'clig' off, 'liga' off;
}

.about__links-list-item {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 108px;
  height: 42px;
  padding: 12px 18px;
}

.about__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid black;
  min-height: 944px;
  background-color: rgba(33, 16, 16, 0.1);
}

.about__image {
  display: block;
  background-image: url(../images/about\ image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.about__article {
  display:flex;
  flex-direction: column;
  margin: 160px 140px;
  align-items: start;
}

.about__article-header {
  color: #333;
  font-family: Mulish;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 60px;
}

.about__article-text{
  display: flex;
  flex-direction: column;
  color:#333;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
}

.about__article-text:not(:last-child) {
  margin-bottom: 20px;
}

.materials {
  display: block;
  background-color: #fff;
}

.materials__header {
  color:#333;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Mulish;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  padding-left: 182px;
  padding-top: 160px;
}

.materials__list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  overflow: visible;
  margin: 60px auto 160px auto;
}

.materials-link{
  display: flex;
  text-decoration: none;
  cursor: default;
  width: 260px;
  height: 371px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin: 60px 0 60px 182px;
}

.materials__title {
  color: #333;
  font-family: Mulish;
  font-size: 28px;
  font-weight: 400;
}

.materials__list::-webkit-scrollbar {
  height: 4px;               /* ширина всей полосы прокрутки */
}

.materials__list::-webkit-scrollbar-track {
  background: #fff;        /* цвет зоны отслеживания */
}

.materials__list::-webkit-scrollbar-thumb {
  background-color: #333;    /* цвет бегунка */
}

.materials__description {
  display: block;
  margin-left: 720px;
  padding: 60px 140px; 
}