/* stylelint-disable no-descending-specificity */
/* stylelint-disable-next-line rule-empty-line-before */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: auto;
  color: #000;
  font-family: NunitoSans-Regular, sans-serif;
  font-size: 16px;
  background-color: #1b1919;
  inline-size: 1440px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.header {
  background-image: url(../images/header.jpg);
  object-fit: contain;
  object-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 1024px;
  padding: 4px 0;
  justify-content: start;
  align-items: center;
}

.header__list {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  gap: 40px;
  justify-content: start;
  margin-bottom: 242px;
}

.header__logo {
  display: flex;
  flex-direction: row;
  width: 70px;
  height: 68px;
  flex-shrink: 0;
  justify-content: start;
  align-items: left;
  text-decoration: none;
  margin-top: 8px;
  position: relative;
  min-width: 120px;
}

.veji {
  display: flex;
  width: 69px;
  height: 50px;
  cursor: default;
  color: #C6FD50;
  font-family: NotoSerif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 50px;
  bottom: 22px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-decoration: none;
}

.header__link {
  color: #FBFBFB;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.header__links-list-item {
  display: flex;
  width: 108px;
  height: 42px;
  padding: 12px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.header_h1 {
  color: #FBFBFB;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Mulish;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 16px;
}

.header_decription {
  color: #FBFBFB;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Mulish;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 60px;
}

.header__button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 440px;
  height: 56px;
  background-color: rgb(198, 253, 80);
  border: 1px solid black;
  color: #333;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.header__button:focus {
  outline: none;
}

.header__button:focus-visible {
  outline: 1px solid black;
}

.header__button:active {
  background-color: #fde350;
  box-shadow: none;
}

.header__button:hover {
  background-color: #fde350;
  box-shadow: 0 4px 16px 0 black;
}
